
.banner {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #4035de;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  text-align: center;
  margin: 0;
  padding: 0;
  border: none;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  font-style: normal;
}

.button span {
  margin-left: 30px;
}

.button:hover span {
color: lightgray;
}

@media (min-width: 768px) {
  .button {
    font-size: 16px;
  }
}
